{% extends 'base.html' %}
{% load static %}

{% block title %}
    About me
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="about">
        <img src="{% static 'img/home.png' %}" alt="">
        <h4>About me:</h4>
        <h1>Bryan Armas</h1>

        <img src="https://img.freepik.com/vector-premium/perros-gatos-mascotas-amigables_24877-6263.jpg?w=360" alt="">

        <p>Welcome to our blog dedicated to the world of pets! My name is Bryan, and I love animals. Over the years, I've learned that our pets are not just companions, 
            but also members of the family.</p>
        <p>This blog was born for my pets, seeking their well-being and care.Here, you'll find helpful tips, product recommendations, and everything you need to improve 
            your pet's life and strengthen that unique bond between you.</p>
        <p>My goal is to create a space for everyone who wants their pet to have the best, to learn, share, and enjoy everything related to the care and happiness of our pets. 
            Whether you have a dog, a cat, or any other pet, this blog is here for everyone, to offer reliable and fun information that will help you be the best owner or 
            caregiver you can be.</p>
        <p>Thank you for visiting! I hope you enjoy each post and find the information you need to help your pet live a full and healthy life.</p>
            
    </div>
{% endblock %}