{% extends 'base.html' %}

{% load static %}

{% block title %} Contact {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="row contact-page">

    <h1>Contact me</h1>
    <h2>Use the form below to say Hi!</h2>

    <form method="post" class="center-column">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <button class="btn btn-primary"><i class="fa-solid fa-envelope"></i> Send message</button>
        </div>
    </form>

</div>
{% endblock %}