/* :root{
    --primary-color: #0F87FF;
    --secondary-color: #0C6CCC;
    --neutral-color: #4F677F;
    --background-color: #7DBEFF;
    --surface-color: #07437F;
    
    --lobster-font: 'Lobster Two', 'selft';
    --sans-font: 'Open Sans', serif;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
}

body{
    background-color: var(--background-color);
}

footer{
    background-color: var(--neutral-color);
    color: white;
    padding: 12px 0 12px 0;
    text-align: center;
}

main{
    min-height: calc(100dvh - 104px);
} */

:root {
    --primary-color: #0F87FF;
    --secondary-color: #0C6CCC;
    --neutral-color: #4F677F;
    --background-color: #7DBEFF;
    --surface-color: #07437F;

    --lobster-font: 'Lobster Two', 'selft';
    --sans-font: 'Open Sans', serif;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    font-family: var(--sans-font);
}

body {
    background-color: var(--background-color);
}

footer {
    background-color: var(--neutral-color);
    color: white;
    padding: 12px 0;
    text-align: center;
}

main {
    min-height: calc(100dvh - 104px);
}
