.contact-page {
    padding: 2rem 1rem;
}

.contact-page h3 {
    text-align: center;
    color: darkcyan;
}

.contact-page form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid var(--surface-color);
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--neutral-color)
}

.contact-page form label {
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    /* style for smartphones */

    .contact-page form {
        width: calc(100% - 24px);
        margin-left: auto;
        margin-right: auto;
    }
    
}