/* Tablet */
@media (max-width:1007px) {
    html {
        font-size: 12px;
    }
}

/* Phone */
@media (max-width: 640px) {
    html{
        font-size: 10px;
    }

    label{
        cursor: pointer;
    }

    header{
        height: max-content;
        padding: 2%;
    }

    .nav-link {
        flex-direction: column;
        gap: 1rem;
    }

    .post-list {
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }
}